{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title> SADHGURU AUDIT GRC SOLUTIONS PVT LTD :: Welcome </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %} " rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %} " rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

  <!-- CSS Files -->
 
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" >
  <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" >
  <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" >
  

  

  
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex justify-content-between align-items-center">

      <div id="logo">
        
        <!-- Uncomment below if you prefer to use a text logo -->
        <h1> <a href="index.html">SADHGURU AUDIT &  GRC 
         SOLUTIONS 
        </a> </h1>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="{{ hero_url }}">Home</a></li>
          <li><a class="nav-link scrollto" href="{{ about_url }}">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto " href="#products"> Products </a></li>
          <li><a class="nav-link scrollto" href="#team"> Testimonials</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="main-slider">
    <div class="ui-hero waves ui-waves">
    <div class="hero-container"  data-aos="fade-up" data-aos-delay="100">
      <h1>  Providing success with every solution </h1>
      <h2> 100% satisfaction guaranteed  </h2> 
     
      <!-- <h3>We are team of talented designers making websites with Bootstrap</h3> -->
      <a href="#contact" class="btn-get-started">  Contact </a>
    </div>
  </div>

  <div class="wave">
    <div class="h3-wave"><img src="{%static 'assets/img/bg-shape.svg' %}" alt=""></div>
</div>

  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about">
      <div class="container" data-aos="fade-up">
        <div class="row about-container">

          <div class="col-lg-6 content order-lg-1 order-2">
            <h2 class="title"> About Sagsol </h2>
            <div class="heading_btm_border"> <img src="{%static 'assets/img/heading_btm_border.png' %}" alt="icon"> </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
           <br> <br>
           sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
           
            </p>

           

            <!-- <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="bi bi-binoculars"></i></div>
              <h4 class="title"><a href="">Dolor Sitema</a></h4>
              <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
            </div> -->

          </div>

          <div class="col-lg-6 order-lg-2 order-1"  data-aos="fade-up" data-aos-delay="100">
            <img src="{%static 'assets/img/about-img.jpg' %}" class="w-100">
          </div>
        </div>


        <div class="col-md-12 about-container mt-5" >
           
          <div class="row">

            <div class="col-md-6 mb-3">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bi bi-briefcase"></i></div>
            <h4 class="title"> Vision & Mission </h4>
            <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
          </div>
        </div>

        <div class="col-md-6 mb-3">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="bi bi-card-checklist"></i></div>
            <h4 class="title"> Excellence in Service </h4>
            <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
          </div>
        </div>

        </div>


      </div>
    </section>
    <!-- End About Section -->


   <!-- ======= Services Section ======= -->
    <section id="services" data-aos-delay="300">
     
      <div class="container" data-aos="fade-up">
      
        <div class="section-header pb-lg-5">
          <h3 class="section-title">Services</h3>
          
          <div class="heading_btm_border text-center"> <img src="{%static 'assets/img/heading_btm_border.png' %}" alt="icon"> </div>
        </div>


        <div class="row">

          <div class="col-lg-4 col-md-6" data-aos="fade-up">
            <div class="box effect2">
              <div class="icon"><a href=""><i class="bi bi-briefcase"></i></a></div>
              <h4 class="title"><a href=""> Audit </a></h4>
              <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
           </div>
          </div>
         

          <div class="col-lg-4 col-md-6" data-aos="fade-up">
            <div class="box effect2">
              <div class="icon"><a href=""><i class="bi bi-card-checklist"></i></a></div>
              <h4 class="title"><a href=""> Tax Research </a></h4>
              <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
            </div>
          </div>
          
          <div class="col-lg-4 col-md-6" data-aos="fade-up">
            <div class="box effect2">
              <div class="icon"><a href=""><i class="bi bi-bar-chart"></i></a></div>
              <h4 class="title"><a href=""> Data Analytics </a></h4>
              <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
            </div>
          </div>
          

          <div class="col-lg-4 col-md-6" data-aos="fade-up">
            <div class="box effect2">
              <div class="icon"><a href=""><i class="bi bi-binoculars"></i></a></div>
              <h4 class="title"><a href=""> MIS Services </a></h4>
              <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            </div>
          </div>

          
          <div class="col-lg-4 col-md-6" data-aos="fade-up">
            <div class="box effect2">
              <div class="icon"><a href=""><i class="bi bi-brightness-high"></i></a></div>
              <h4 class="title"><a href=""> Design & Development of commercial web applications </a></h4>
              <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
            </div>
          </div>



          <div class="col-lg-4 col-md-6" data-aos="fade-up">
            <div class="box effect2">
              <div class="icon"><a href=""><i class="bi bi-calendar4-week"></i></a></div>
              <h4 class="title"><a href=""> Registration Services </a></h4>
              <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
            </div>
          </div>
        </div>

      </div>
    </section>
    
    <!--End Services Section -->

    <!-- ======= Call To Action Section ======= -->
    <section id="products"  data-aos="fade-up">
      <div class="container">
        <div class="row">
          <div class="col-lg-12  text-lg-start">
            <h3 class="cta-title text-center mb-lg-5"> products </h3>
            
          </div>
         
          <div class="col-lg-4 col-md-6 mb-3">
            <a href="">
            <div class="card">
             
            <div class="icon bg-primary">
              <i class="bi bi-calendar4-week"></i>
            </div>

            <div class="content">
              <h4 class="title"> Any audit </h4>
              <p> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum </p>
            </div>
            
          </div>
        </a>
          </div>


          <div class="col-lg-4 col-md-6 mb-3">
            <a href="">
            <div class="card">
             
            <div class="icon bg-secondary">
              <i class="bi bi-calendar4-week"></i>
            </div>

            <div class="content">
              <h4 class="title"> Skillup </h4>
              <p> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum </p>
            </div>
            
          </div>
        </a>
          </div>




          <div class="col-lg-4 col-md-6 mb-3">
            <a href="">
            <div class="card">
             
            <div class="icon bg-primary">
              <i class="bi bi-calendar4-week"></i>
            </div>

            <div class="content">
              <h4 class="title"> Sahitya Sarada </h4>
              <p> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum </p>
            </div>
            
          </div>
        </a>
          </div>



        </div>

      </div>
    </section> 

    <!--End Call To Action Section -->

   
    
    <!-- ======= Facts Section ----->
    <section id="facts">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h3 class="section-title">Facts</h3>
          <div class="heading_btm_border text-center"> <img src="{%static 'assets/img/heading_btm_border.png' %}" alt="icon"> </div>
        </div>
        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
            <p> Team Members</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="5" data-purecounter-duration="1" class="purecounter"></span>
            <p> No.of Products</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="500" data-purecounter-duration="1" class="purecounter"></span>
            <p> Client’s Feedback </p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="364" data-purecounter-duration="1" class="purecounter"></span>
            <p> Happy Clients </p>
          </div>

        </div>

      </div>
    </section>
    
   <!--- End Facts Section -->


   <section>

    
   </section>

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">
        <div class="section-header">
          <h3 class="section-title">Contact</h3>
          <p class="section-description mb-0 pb-0"> If you have any queries or questions, please reach out to us by clicking on the contact button and filling out the form.</p>
          <div class="heading_btm_border text-center"> <img src="{% static 'assets/img/heading_btm_border.png' %}" alt="icon"> </div>
        </div>
      </div>

      
      

      <div class="container mt-5">
        <div class="row justify-content-center">

          <div class="col-md-7 col-lg-7">
            
            <div class="info row">
              <div class="col-md-5">
                <i class="bi bi-geo-alt"></i>
                <p> D.No: 5-96-2,  Near CRDA Office <br> 
                  6/12 Brodipet,
                  Guntur - 522001</p>
              </div>

              <div class="col-md-3">
                <i class="bi bi-envelope"></i>
                <p>info@sagsol.in</p>
              </div>

              <div class="col-md-4">
                <i class="bi bi-phone"></i>
                <p>+91 8185 000 888</p>
              </div>
            </div>

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d239.33568065404774!2d80.4333751034997!3d16.303982641554835!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a4a754297fa99eb%3A0x107c38e7434b1b41!2s6%2F12%2C%20Brodipet%2C%20Guntur%2C%20Andhra%20Pradesh%20522006!5e0!3m2!1sen!2sin!4v1630655079790!5m2!1sen!2sin" width="100%" height="220" style="border:4px solid #e9eff3; border-radius:10px" allowfullscreen="" loading="lazy"></iframe>
          
          
          </div>
         

          <div class="col-lg-5 col-md-5">

            <h3 class="section-title"> Help Desk</h3>
            <div class="form">
              <form action="" method="post" role="form" class="php-email-form">

                  <div class="row">

                <div class="form-group col-lg-6 col-md-6 mb-3">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
               
                <div class="form-group col-lg-6 col-md-6 mb-3">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>

                <div class="form-group col-lg-6 col-md-6 mb-3">
                  <input type="email" class="form-control" name="phone" id="phone" placeholder="Phone no" required>
                </div>

                <div class="form-group col-lg-6 col-md-6 mb-3">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                </div>
                <div class="form-group ">
                  <textarea class="form-control" name="message" rows="6" placeholder="Message" required></textarea>
                </div>
              

                <div class="text-right col-md-12 mt-3"><button type="submit" class="btn-sm">Send Message</button></div>
              </form>
            </div>
          </div>
          </div>

        </div>

      </div>
    </section> 
    <!---End Contact Section -->

  </main>

  <!-- ======= Footer =======--->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        <div class="row">
        <div class="col-md-12 text-center">
        &copy; Copyright <strong> Sadhguru Audit Grc Solutions Pvt Ltd </strong>. All Rights Reserved

      </div>

      <!-- <div class="col-md-6">
      <div class="credits"> Designed by <a href=""> </a>
      </div> -->
    </div>
      </div>
    </div>
  </footer> 
  
  <!--End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/purecounter/purecounter.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

</body>

</html>